.cart_container {
  width: 40%;
  height: 492px;
  margin: auto 0;
  border: 1px solid #F0F0F5;
  border-radius: 7px;
} 

.cart_title {
  width: 89%;
  margin: 0 auto;
  margin-top: 30px;
}

.product_container {
  display: flex;
  width: 89%;
  margin: 0 auto;
  margin-top: 30px;
}

.product_info {
  margin-left: 15px;
}


.product_list img {
  max-width: 100px;
  display: block;
  border-radius: 5px;
}

.cart_info {
  border-top: 1px solid #F0F0F5 ;
  width: 89%;
  margin: 30px auto;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.product_control {
  width: 116px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product_icon {
  cursor: pointer;
}

.price {
  margin-left: 110px;
}