
.progress_control_container {
  border-top: 1px solid gray;
  width: 100%;
  margin-top: 50px;
}


.button_group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 23px;
}

.progress_control_container button {
  width: 32%;
  padding: 13px 0;
  border-color: transparent;
  background-color: #fff;

}

.progress_control_container button:hover {
  width: 32%;
  color: #fff;
  padding: 13px 0;
  background-color: #F67599;
  border-radius: 5px;
}

.arrow_group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  margin-right: 10px;
  width: 24px;
  height: 24px;
  fill:black;
}

.progress_control_container button:hover .arrow {
  fill: #fff;
}

/* .normal {
  width: 20%;
  border-color: #fff;
  background-color: #fff;
} */

/* .pink_one {
  width: 32%;
  color: #fff;
  padding: 13px 0;
  background-color: #F67599;
  border-radius: 5px;
  
  
} */